<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/style.css') }}"rel="stylesheet" />
</head>
<body>
        <h1 class = "title ">Bán Hàng Trực Tuyến</h1>
        <li><a href ="/products">tất cả</a></li>
        <li><a href ="{{url_for("products",category_id=1)}}">Điện thoại di động</a></li>
        <li><a href ="{{url_for("products",category_id=2)}}">máy tính bảng</a></li>
</body>
</html>